body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightgray;
    overflow-x: hidden;
}
.navbar{
    background-color: #3b5998;
    overflow: hidden;
    height: 63px;
}

.navbar a{
    float: right;
    display: block;
    color: #2f2f2f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}

.navbar ul{
    margin: 8px 0 0 0;
    list-style: none;
}

.navbar a:hover{
    background-color: #ddd;
    color: #000;
}

.side-nav{
    text-align: center;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a{
    padding: 10px 10px 10px 30xp;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover{
    color: #fff;
}

.side-nav .btn-close{
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;;
}
#main{
    transition: marging-left 0.5s;
    padding: 20px;
    overflow: hidden;
    width: 100%;
}

@media(max-width:550px){
    .navbar-nav{display: none}
}

@media(min-width:550px){
    /*.open-slide{display: none}*/
}
ul input[type = text]{
    margin-top: 8px;
    margin-left:15px;
}

.container {
    width: 100%;
    height: 100%;
  }
  
  .leftpane {
      width: 25%;
      height: 100%;
      float: left;
      background-color: white;
      border-collapse: collapse;
  }
  
  .middlepane {
      width: 50%;
      height: 100%;
      float: left;
      background-color: whitesmoke;
      border-collapse: collapse;
  }
  
  .rightpane {
    width: 25%;
    height: 100%;
    position: relative;
    float: right;
    background-color: white;
    border-collapse: collapse;
  }
  
  .toppane {
    width: 100%;
    height: 100px;
    border-collapse: collapse;
    background-color: #4da6ff;
    text-align: center;

  }
  .right-pane{
      text-align: center;
      float: left;
      width: 50%;
      height: 100%;
  }
  .left-pane{
      float: right;
      width: 50%;
      height: 100%;
  }
  button{
      margin-top: 30px;
      margin-left: 7px;
      border-color: white;
      background-color: #4da6ff;
      color: white;
      border-radius: 9px;
      font-size: 20px;

  }
  button:hover{
      background-color: #000;
  }
  hr{
      margin-top: 20px;
      color: gray;
      margin-left: 0px;
      size: 1px;
     
  }
  img{
    float: left;
    height: 63px;
    padding: 0;
    margin: 0;
}
h3{
    float: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    color: goldenrod;
    margin-top: 7px;
    margin-left: 10px;
    text-align: center;
}
h5{
    float: left;
    margin-top: 0;
    font-size: 15px;
}
h4{
    color: blueviolet;
}
textarea{
    width: 90%;
    height: 40%;
    margin: 6px;
}
p{
    float: center;
    margin-top: 0;
    padding: 0;
}

.rightpane{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;

}

.question1{
    margin-left: 4px;
    text-align: center;
    
}
.view1{
    margin-top: 0;
    text-align: center;
    float: center;
}

footer {
    display: flex;
    padding: 10px 5px;
    background-color: #45a1ff;
    color: #fff;
    text-align: center;
}

footer p {
    flex: 1;
    margin: 0;
}



